.bodyIng {
    background-color: rgb(196, 196, 196);
    padding:1em;
    height:750px;
    width:100%;
}

.nav-b-admin {
    background-color: rgb(158, 16, 16);
    padding:1em;
    position:absolute;
    z-index:1;
    left:0;
    top:0;
    height:750px;
    width:15%;
}

.label-type {
    font-size:0.7em;
    color:black;
    font-weight:700;
}

.input-admin-type {
    font-size:1.2em !important;
}

.les-row {
    width:100%;
    padding:1em;
    display:flex;
    justify-content: left;
    background-color: rgb(219, 219, 219);
}

.ligne-titre {
    background:rgb(235, 233, 233);
    padding:1em;
    width:150% !important;
    margin:auto;
}