

.bodyIng {
    background-color: rgb(190, 190, 190);
    padding:1%;
    width:100%;
    margin:1%;
    background-color: rgb(233, 233, 233);
}

.label-type {
    font-size:0.7em;
    color:black;
    font-weight:700;
}

.input-admin-type {
    font-size:1.2em !important;
}

.les-row {
    width:100%;
    padding:1em;
}
label {
    width:100%;
}

.ligne-titre {
    padding:1%;
    width:100% !important;
    margin:auto;
}

.btn-ajout {
    margin:5px;
}