/* @import './CommonStyle.css'; */

.brownieSize Row{
  width: 100%;
}

.brownieSizeSelection Button{
  height: 120px;
  width: 120px;
  padding: 0;
  color: black;
  font-family: var(--secondPolice);
  font-size: 1em;
  background-color: white;
  background-image: url('../Images/brownie.png');
  background-repeat: no-repeat;
  background-position-x: center;
  border-radius: 20px;
  padding-top: 70%;
}

.brownieSizeSelection Button:hover, .brownieSizeSelection Button:active, .brownieSizeSelection Button:focus{
  border: 2px solid;
  border-color: var(--mainColor);
  color: black !important;
  background-color: white !important;
  box-shadow: 0 !important;
  /* outline: blue solid 2px !important; */
}

#smallBrownie{
  background-size: 40% 40%;
  background-position-y: 35%;
}

#averageBrownie{
  background-size: 60% 60%;
  background-position-y: 20%;
}

#bigBrownie{
  background-size: 80% 80%;
}
