/* @import './CommonStyle.css'; */

.brownieSize Row{
  width: 100%;
}

.brownieSizeSelection {
  background-color:rgb(209, 209, 209);
  padding:5px;
  margin:5px;
}


.brownieSizeSelection Button{
  height: 10vh;
  width: 10vh;
  padding: 0;
  color: black;
  font-size: 0.8em;
  border:none;
  padding-top:40px;
  background-color: white;
  background-image: url('../Images/brownie.png');
  background-repeat: no-repeat;
  background-position-x: center;
  cursor: url(../Images/Whisk.ico)1 42, pointer !important;
}

.brownieSizeSelection Button:hover, .brownieSizeSelection Button:active, .brownieSizeSelection Button:focus{
  border: 2px solid;
  border-color: var(--mainColor);
  color: black !important;
  background-color: white !important;
  box-shadow: 0 !important;
  /* outline: blue solid 2px !important; */
}

#smallBrownie{
  background-size: 40% 40%;
  background-position-y: 35%;
}

#averageBrownie{
  background-size: 60% 60%;
  background-position-y: 20%;
}

#bigBrownie{
  background-size: 80% 80%;
}
