/* @import './CommonStyle.css'; */

.brownieSize Row{
  width: 100%;
}

.brownieSizeSelection {
  background-color:rgba(211, 189, 158, 0.363);
  padding:5px;
  margin:5px;
}


.brownieSizeSelection Button{
  width: 8vw;
  padding: 0;
  color: black;
  font-family: var(--secondPolice);
  font-size: 0.7em;
  background-color: white;
  background-image: url('../Images/brownie2.png');
  background-repeat: no-repeat;
  background-position-x: center;
  padding-top: 70%;
  border:none;
  margin-bottom:15%;
}

.brownieSizeSelection Button:hover, .brownieSizeSelection Button:active, .brownieSizeSelection Button:focus{
  border: 2px solid;
  border-color: var(--mainColor);
  color: black !important;
  background-color: white !important;
  box-shadow: 0 !important;
}

#smallBrownie{
  background-size: 40% 40%;
  background-position-y: 35%;
}

#averageBrownie{
  background-size: 60% 60%;
  background-position-y: 20%;
}

#bigBrownie{
  background-size: 80% 80%;
}
