.bloc-price {
    width: 20vh;
    color: rgb(34, 34, 34);
    font-size: 0.9em;
    text-align: center;
    background-color: rgb(226, 225, 225);
    padding: 13px;
    margin: auto;
    font-weight: 700;
    z-index: 1;
}

/* Le background de tous les boutons lors de la création */
.back-btn {
    background-color: rgb(190, 188, 188);
    position: fixed;
    width: 70vw;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

/* Bouton de commande */
.order-btn {
    background-color: rgb(163, 163, 163);
    width: 20vh;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    border: none;
    padding: 14px;
    position: absolute;
    left: 5%;
    top: 10%;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
}

/* Groupe des deux boutons */
.btn-group {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

/* Boutons Previous & Next */
.btn-prev-next {
    background-color: rgb(129, 38, 38);
    width: 20vh;
    display: inline-block;
    margin-right: 5px;
    font-weight: 700;
    font-size: 0.8em;
    padding: 15px;
    border: none;
    color: white;
    text-transform: uppercase;
}

.btn-prev-next:hover {
    background-color: rgb(189, 64, 64);
    transition: all 0.7s ease-out;
}

/* bouton conirmation de commande */
.btn-confirmation {
    background-color: rgb(129, 38, 38);
    display: inline;
    margin-right: 5px;
    font-weight: 700;
    font-size: 0.8em;
    padding: 15px;
    border: none;
    color: white;
    text-transform: uppercase;
}

.btn-confirmation:hover {
    background-color: rgb(189, 64, 64);
    transition: all 0.7s ease-out;
}


.cakeProgressLayout Button {
  position: relative;
  margin: -8px;
  bottom: 40px;
  left: 110px;
}

.cakeProgressLayout img {
  width: 200px; 
  margin: -100px;
  position: absolute;
}

.toppingsLayout {
  width: 70px !important;
  position: absolute;
  right: 230px;
  bottom: 70vh;
}

.icingsLayout {
  width: 200px !important;
  margin: -90px;
  position: absolute;
  bottom: 53vh;
}

.cakeLayout {
    margin:auto; 
    height: 40vh;
    background-color: rgb(190, 190, 190);
    border-radius: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.namesLayout {
    margin:auto; 
    height: 20vh;
    background-color: rgb(140, 140, 140);
    border-radius: 20px;
    overflow: auto;
    flex-direction: column-reverse;
}

.namesLayout p {
  font-family: 'lobster';
  font-size: 19px;
  margin: 0px;
}

/* background boutons onglet UserInfo */
.back-btn-userinfo {
    background:rgb(185, 184, 184);
    position:absolute;
    display:block;
    width:80%;
    left:10%;
    padding:10px;
}