/* Bouton de commande */
.order-btn {
    background-color:gray;
    min-width:200px;
    display:inline-block;
    margin-top:20px;
    margin-left:10px;
    height:33px;
    font-size:1em;
    border-radius: 5px 15px;
    font-weight:bold;
    border:none;
}

/* Groupe des deux boutons */
 .btn-group {
    margin:20px auto 0px 10px;
    padding:0px;
 }

/* Boutons Previous & Next */
.btn-prev-next {
    background-color:chocolate;
    width:100px;
    display:inline-block;
    margin:auto;
    border-radius:15px 5px;
    font-weight:700;
    padding:3px;
    border:none;
}

/* bouton conirmation de commande */
.btn-confirmation {
    background-color:chocolate;
    color:black;
    display:inline-block;
    margin:auto;
    border-radius:15px 5px;
    font-weight:700;
    padding:5px;
    font-size:0.9em;
    border:none;
}


.cakeProgressLayout Button {
  position: relative;
  bottom: 10px;
  left: 90px;
}

.cakeProgressLayout img {
  width: 150px !important;
  margin: -60px;
  position: absolute;
}

.cakeLayout {
    margin:auto; 
    height: 60vh;
    background-color:rgb(190, 190, 190);
    border-radius:20px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}


/* .cakeLayout *{
    margin: 0;
}

.Base{
    height: 20vh;
}

.Filling{
    height: 10vh;
}

.Glaçage{
    height: 10vh;
}

.Toppings{
    height: 10vh;
} */