
.labels-perso{
    font-size: 1.5em;
    font-family: var(--mainPolice);
    color: var(--mainColor);
}

.tipsColumn{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
