.orangeDate {
  background-color: #ffc107;
  color: white;
}

.orangeDate:hover {
  background-color: rgba(255, 187, 0, 0.466) !important;
}

.orangeDate:focus {
  background: #ffc107 !important;
}

.orangeDate:focus:hover {
  background: rgba(255, 217, 0, 0.466) !important;
}

.redDate {
  background-color: #c82333;
  color: white;
}

.redDate:hover {
  background-color: rgb(148, 7, 7) !important;
}

.redDate:focus {
  background:r#c82333 !important;
}

.redDate:focus:hover {
  background: rgb(148, 7, 7) !important;
}

.activeButton {
  box-shadow: 0 0 5pt 4pt #5a6268 !important;
}

.react-calendar__tile--active:enabled:hover {
  background: none;
  color: #212529;
}

/* .react-calendar__tile--active:enabled:hover,  */
/* .react-calendar__tile--active:enabled:focus */

.arrow {
  border-top: 1px solid #a9a9a9;
  border-right: 1px solid #a9a9a9;
  transform: rotate(54deg) skew(20deg);
  right: 20px;
}

.square {
  top: auto;
  bottom: 10px;
}

.square.right {
  transform: rotate(45deg);
}

.calendar-row {
  margin-bottom: 5vh !important;
}
/* 
.info-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */