:root {
  --mainColor: rgba(141, 29, 44, 0.8);
  --secondColor: rgba(212, 186, 34, 0.8);
  --lightPurple: rgb(250, 242, 255);
  --mainPolice: 'Lobster Two', cursive;
  --secondPolice: 'Arial';
}


a {
  text-decoration: transparent;
}

#enterButton{
  width:25vw;
  background-color: var(--mainColor);
  font-family: var(--mainPolice);
  font-size: 1.4em;
  color: white;
  border: none;
  padding:10px;
}

.img-gallery {
  width:20vh;
  height:20vh;
  object-fit:cover;
  border:20px solid white;
  margin:8% auto;
}

.bloc-gallery {
  display:flex;
  justify-content: center;

}

/*APPARENCE CAROUSEL*/
.the-carousel {
  width:auto;
  height:auto;
  margin:2% auto;
  display: flex;
  justify-content: center;
}.body-carousel {
  width:25vw;
  height:92%;
  padding:3%;
}


/* PANNEAU D'ADMINISTRATION */
.body-admin {
  padding:2%;
  height:100%;
  width:100%;
  margin:0%;
  background-color: rgb(235, 235, 235);
}

.para-admin {
  text-align: justify;
  font-size:1.2em;
  line-height: 1.3em;
  padding:2%;
}

.admin-home-logo {
  width:30%;
  display:block;
  margin:auto;    
}