h1 {
  margin:auto;
  padding:10px;
  font-size:1.8em !important;
  font-weight:700 !important;
  font-family: 'Lobster Two', cursive !important;
  color:rgb(141, 29, 44) !important;
  text-shadow:1px 1px 0px rgb(255, 255, 255);
}