h1 {
  margin:auto;
  padding:10px;
  font-size:1.8em !important;
  font-weight:700 !important;
  font-family: var(--mainPolice) !important;
  color:var(--mainColor) !important;
  text-shadow:1px 1px 0px white;
}

.renderComposition {
  padding-top: 7vh;
}

.wrapper {
  overflow-y: scroll;
  min-height: 72vh;
  max-height: 60vh;
  position: relative;
  top: 5vh;
}

