.cookieSize Row{
  width: 100%;
}

.cookieSizeSelection {
  background-color:rgba(211, 189, 158, 0.363);
  padding:5px;
  margin:5px;
}

.cookieSizeSelection Button{
  width: 8vw;
  padding: 0;
  color: black;
  font-family: var(--secondPolice);
  font-size: 0.7em;
  background-color: white;
  background-image: url('../Images/cookie2.png');
  background-repeat: no-repeat;
  background-position-x: center;
  padding-top: 70%;
  border:none;
  margin-bottom:15%;
}

.cookieSizeSelection Button:hover, .cookieSizeSelection Button:active, .cookieSizeSelection Button:focus{
  border: 2px solid;
  border-color: var(--mainColor);
  color: black !important;
  background-color: white !important;
  box-shadow: 0 !important;
}

#smallCookie{
  background-size: 60% 60%;
  background-position-y: 35%;
}

#averageCookie{
  background-size: 80% 80%;
  background-position-y: 20%;
}

#bigCookie{
  background-size: 95% 95%;
}