

.decorationRow{
  justify-content: center;
  margin-top: 3vw;
}

.removeCross:hover {
  cursor: pointer;
}

.notChosen {
  border: 4px red solid !important;
}

.chosen {
  border: 4px rgb(114, 167, 114) solid !important;
}

.previewText {
  position: relative;
  height: 30vh;
  width: 30vh;
  border: dashed 1px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inputField {
  opacity: 0.0; position: absolute; top: 0; width: 100%; height:100%; cursor: pointer;
}

.carousel {
  width: 37vh;
}

.carousel-small {
  width: 30vh;
}

.carousel-images {
  height: 50vh;
  width: 50vh;
  object-fit: contain;
}

.smaller-c-images {
  height: 30vh;
  width: 10vh;
  object-fit: cover;
}

.decoRow {
  padding-bottom: 2vh !important;
}