.navBar{
  width: 100%;
  justify-content: center;
}

.navBar Button{
  border-radius: 5px 5px 0 0;
  background-color: transparent;
  color: black;
}

.navBar Button:hover{
  background-color: rgb(182, 181, 181);
}

.dropdown{
  margin: 0;
}