.ingredient {
  margin:1px;
}

.ingredient img{
  width:7vw !important;
  object-fit:cover;
}

.displayIngredient {
  background-color: rgb(219, 219, 219);
  height: 60vh;
  overflow:auto;
}

.ingredient Button {
  cursor: url(../Images/Whisk.ico)1 42, pointer !important;
}

.ingredient span {
  font-size: 1vw;
  color: white;
  background-color: rgb(136, 78, 101);
}
