.ingredient {
  margin:1px;
}

.ingredient img{
  width:150px !important;
  object-fit:cover;
}

.ingredient Badge {
  
}

/* ingredient structure */
.displayIngredient {
  background-color: rgb(219, 219, 219);
  height: 60vh;
  overflow: auto;
  border-radius: 20px;
}
