
.macaronSizeSelection {
  background-color:rgba(211, 189, 158, 0.363);
  padding:5px;
  margin:5px;
}

.macaronSizeSelection Button{
  height: 7vh;
  width: 7vw;
  padding: 0;
  color: black;
  font-family: var(--secondPolice);
  font-size: 0.7em;
  background-color: white;
  background-image: url('../Images/macarons2.png');
  background-repeat: no-repeat;
  background-position-x: center;
  padding-top: 21%;
  border:none;
  margin-bottom:5%;
  margin-right:3%;
}

.macaronSizeSelection Button:hover, .macaronSizeSelection Button:active, .macaronSizeSelection Button:focus{
  border: 2px solid;
  border-color: var(--mainColor);
  color: black !important;
  background-color: white !important;
  box-shadow: 0 !important;
}

#smallMacaron{
  background-size: 70% 70%;
  background-position-y: 35%;
}

#bigMacaron{
  background-size: 90% 90%;
}
