.macaronSize Row{
  width: 100%;
}

.macaronSizeSelection {
  background-color:rgb(209, 209, 209);
  padding:5px;
  margin:5px;
}


.macaronSizeSelection Button{
  height: 10vh;
  width: 10vh;
  padding: 0;
  margin: 0 20px;
  color: black;
  font-family: var(--secondPolice);
  font-size: 1em;
  background-color: white;
  background-image: url('../Images/macaron_cafe.png');
  background-repeat: no-repeat;
  background-position-x: center;
  border:none;  
  padding-top: 40px;
  cursor: url(../Images/Whisk.ico)1 42, pointer !important;
}

.macaronSizeSelection Button:hover, .macaronSizeSelection Button:active, .macaronSizeSelection Button:focus{
  border: 2px solid;
  border-color: var(--mainColor);
  color: black !important;
  background-color: white !important;
  box-shadow: 0 !important;
}

#smallMacaron{
  background-size: 40% 40%;
  background-position-y: 35%;
}

#bigMacaron{
  background-size: 80% 80%;
}
