
.nav-b-admin {
    background-color: rgb(158, 16, 16);
    padding:1em;
    position:absolute;
    z-index:1;
    height:750px;
    width:150%;
    margin:auto;
    left:-90%;
}

.nav-b-admin a{
    color:black;
    font-weight:700;
}

.nav-b-admin a:hover {
    color:white !important;
    text-decoration: none;
}