.body {
  color: red;
  font-size: 1.5em;
  text-align: center;
}

.body div{
  display: inline-block;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid black; */
  width: 10vh; 
  height: 4vh;
  text-align: center;
  position: relative;
}