.progressBar {
  list-style-type: none;
}

.progressBar a {
  color:rgb(0, 0, 0);
  font-weight:700;
  text-decoration: none;
  text-transform: uppercase;
  font-size:0.8em;
}

.progressBar a:hover {
  text-decoration: none;
  color:white;
}

.progressBar li {
  display: inline-block;
  padding: 7px;
  text-align: center;
  width:16%;
  margin:1px;
}

.progressBar li:first-child {
  border-top-left-radius: 12px;;
  border-bottom-left-radius: 12px;;
}

.progressBar li:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.activeProgress {
  background-color: rgba(160, 17, 60, 0.911);
}
