@import './CommonStyle.css';
@import url('https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700|Quicksand:300,400,500,700');
:root {
  --mainColor: rgba(141, 29, 44, 0.8);
  --secondColor: rgb(241, 232, 219);
  --mainPolice: 'Lobster Two', cursive;
  --secondPolice: 'Quicksand', sans-serif;
  ;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

h1 {
  margin: auto;
  padding: 3%;
  font-size: 2em !important;
  font-weight: 700 !important;
  font-family: var(--mainPolice) !important;
  color: var(--mainColor) !important;
}

h3 {
  margin: auto;
  padding: 5px;
  font-size: 1.2em !important;
  font-weight: 700 !important;
  font-family: var(--mainPolice) !important;
  color: rgb(133, 32, 71) !important;
  display: flex;
  justify-content: center;
}

/* Apparence Badges sur les boutons COOKIE, MACARONS, CHEESE, CAKE sur CakeInfo.jsx */

h6 {
  margin: auto;
}

/* <------------------------------------------- BODY ----> */

.body-zone {
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-image: url('https://imgur.com/kJy0pfY.png');
  background-color: rgb(211, 189, 158);
  background-size: auto;
}

.body-row {
  /* height: 100vh; */
  background-color: rgb(241, 232, 219);
}

.content-zone {
  max-width: 80%;
  height: auto;
  margin: 12vh auto;
  margin-top: 0;
}

.row {
  margin: 0 !important;
  justify-content: center;
}

/* <------------------------------------------- Homepage.jsx ----> */

.header-body-hp {
  display: block;
  padding: 0%;
  margin: auto;
  background-image: url(../Images/header.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 30vw;
  width: 130%;
  position: relative;
  z-index: 1;
  left: -15% !important;
}

/* bloc titre & sous-titres homepage frony */

.bloc-ti-hp {
  background-color: rgb(231, 199, 141);
  margin: auto;
  padding: 10px;
  position: relative;
  text-align: center;
  display:block;
  width:100%;
}

/* Le logo */

.logo-hp {
  width: 25vw;
  display: block;
  margin: 7% auto;
  padding:10px;
  background:rgba(255, 255, 255, 0.753);
  /* border-radius:5px; */
}

.descri-homep {
  font-size:0.8em;
  padding:2% 5%;
  text-align:justify;
}

.gal-homep {
  background-color: rgba(231, 199, 141, 0.384);
  padding:1%;
  display:block;
  width:100%;
  margin-bottom:1%;
}

/* Titre de la Homepage.jsx */

title-homepage {
  display: block;
  font-size: 2em;
  font-weight: 700;
  font-family: var(--mainPolice);
  color: rgb(250, 250, 250);
  text-shadow: 2px 2px 0px rgb(218, 181, 114);
}

/* Sous-titres */
s-title2 {
  width: 60%;
  margin: 3% auto 3%;
  text-align:center;
  display: block;
  font-size: 1em;
  font-style: italic;
  color: rgb(158, 108, 119);
  font-family: var(--secondPolice);
  font-weight: 700;
  border-bottom: 4px solid rgb(223, 186, 117);
}

/* Texte description / introduction Homepage */

#text-homepage {
  font-size: 0.9em;
  padding: 10px;
  margin-top:1%;
  margin-bottom: 1%;
  background-color: rgb(240, 239, 239);
  font-family: var(--secondPolice);
}

/* position du bouton start cake */

.btn-start-cake {
  display: block;
  margin: 10px auto;
  border-radius:5px;
}


/* -------------> GALLERY : HomePage.jsx <-------------- */

.the-gallery {
  display: flex;
}

.meals-showcase {
  list-style: none;
  width: 100%;
  margin-left:-3%;
}

.meals-showcase li {
  display: block;
  float: left;
  padding: 5px;
}

.meal-photo {
  width: 13.2vw;
  height: 13.2vw;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

/* <------------------------------------------- CakeInfo.jsx ----> */

/* Bouton Start Cake */

#enterButton {
  width: 25vw;
  background-color: var(--mainColor);
  font-family: var(--mainPolice);
  font-size: 1.4em;
  text-shadow: 1px 1px 2px rgb(138, 44, 44);
  color: white;
  border: none;
  padding: 10px;
}

#enterButton:hover {
  background-color: rgb(212, 184, 123);
  text-shadow: 1px 1px 2px rgb(163, 142, 95);
  transition: all 1s ease-out;
  cursor: pointer;
}

.img-gallery {
  width: 20vh;
  height: 20vh;
  object-fit: cover;
  border: 20px solid white;
  margin: 8% auto;
}

.bloc-gallery {
  display: flex;
  justify-content: center;
}

/* Les Labels */
.lb-0 {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 1em;
  text-align: center;
  font-family: var(--secondPolice);
  color: rgb(141, 126, 106);
  background-color: rgba(226, 203, 172, 0.356);
}

.lb-1 {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 0.8em;
  font-weight: 700;
  font-family: var(--secondPolice);
  color: rgb(133, 118, 99);
}

/* Label 'nombre de # ' dans CakeInfo.jsx/CakesSizeSelection.jsx */
.lb-2 {
  display: inline-block;
  margin-top: 5px;
  font-size: 0.8em;
  font-family: var(--secondPolice);
  font-weight: 700;
  color: var(--mainColor);
}

/* Le bloc NBR étage & personne CakeSizeSelection.jsx */
.b-cakesize-select {
  background-color: rgba(211, 189, 158, 0.363);
  margin: 3% auto;
}

/* gérer le margin du Label&Input 'nbr de ' sur CakeInfo.jsx */
.row-nbr-choice {
  margin-top: 10px !important;
}

/* Label 'choississez votre type de douceur' dans CakeInfo.jsx */
.labels-perso-btn-douceurs {
  background: rgb(219, 150, 150);
  text-shadow: 2px 2px 1px rgb(187, 128, 128);
  font-size: 1.5em;
  font-family: var(--mainPolice);
  color: white;
  padding: 10px;
  margin-top: 2%;
  display: block;
  text-align: center;
}

/* Bloc des 5 boutons */
.b-ligne-button {
  text-align: center;
  padding: 10px;
  background: white;
  display: block;
  margin-left: 1.5% !important;
  margin-right: 1.5% !important;
  margin-bottom: 1% !important;
}

.selectionOutline {
  box-shadow: 0px 0px 2px orange;
}

/* Texte sous les boutons */
txt-btn-sweet {
  font-weight: 700;
  font-size: 1.6em;
  font-family: var(--mainPolice);
  /* background:rgb(231, 216, 216); */
  color: rgb(161, 132, 132);
  padding: 5px;
  display: block;
  text-align: center;
  margin: 14% auto;
}

.typeButton {
  width: 8vw;
  height: 8vw;
  font-size: 0.7em;
  background-size: 100%;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position-x: center;
  padding-top: 65% !important;
  border: none;
}

#cookieButton {
  background-image: url(../Images/cookie.png);
  cursor: url(../Images/Whisk.ico)1 42, pointer !important;
}

#cakeButton {
  background-image: url(../Images/cake.png);
  cursor: url(../Images/Whisk.ico)1 42, pointer !important;
}

#cheesecakeButton {
  background-image: url(../Images/cheesecake.png);
  cursor: url(../Images/Whisk.ico)1 42, pointer !important;
}

#macaronButton {
  background-image: url(../Images/macarons.png);
  cursor: url(../Images/Whisk.ico)1 42, pointer !important;
}

#brownieButton {
  background-image: url(../Images/brownie.png);
  cursor: url(../Images/Whisk.ico)1 42, pointer !important;
}

/* block des tips */

.tipsColumn {
  font-size: 0.8em;
  font-family: var(--secondPolice);
  padding: 3%;
  color: rgb(37, 13, 13);
  background-color: rgb(233, 217, 184);
  border: 2px dotted rgb(231, 206, 154);
  overflow: auto;
  max-height: 32vh;
}

/* Titres TIPS */

.title-tips {
  font-family: var(--secondPolice);
  text-transform: lowercase;
  letter-spacing: 8px;
  display: block;
  text-align: center;
  border-bottom: 4px solid rgb(223, 207, 177);
  color: rgb(116, 107, 90) !important;
  font-size: 1.2em;
  margin-top: -5%;
  padding: 5px;
}

/* <-------------------------------------------Composition.jsx------> */

/* Titre de la Compo */
title-compo {
  width:100%;
  display: block;
  text-align: center;
  margin-top:1% !important;
  padding: 1%;
  background-color: rgb(235, 218, 188);
  font-size: 1.3em !important;
  font-weight: 700 !important;
  font-family: var(--secondPolice) !important;
  color: rgb(189, 130, 130);
  text-shadow:1px 1px 0px rgb(255, 237, 207);
  text-transform: lowercase;
  letter-spacing: 2px;
  border-bottom: 4px solid rgb(223, 207, 177);
}
/* COMPO : TOPPING  */
title-compo2 {
  width:100%;
  height:6vh;
  display: block;
  text-align: center;
  margin-top:1% !important;
  padding: 1%;
  background-color: rgb(235, 218, 188);
  font-size: 1.3em !important;
  font-weight: 700 !important;
  font-family: var(--secondPolice) !important;
  color: rgb(189, 130, 130);
  text-shadow:1px 1px 0px rgb(255, 237, 207);
  text-transform: lowercase;
  letter-spacing: 2px;
  border-bottom: 4px solid rgb(223, 207, 177);
}

.row-topping {
  display:block;
  width:100%;
  height:10vh;
}


/* Body de la Compo */

.body-compo {
  margin:1% auto !important;
  background-color: rgba(233, 217, 184, 0.521);
}

/* Bloc des ingrédients */

.compo-zone {
  width:105%;
  height: 63vh;
  overflow: auto;
  margin-top: 5px !important;
  /* background-color: rgba(233, 217, 184, 0.521); */
}

/* Apparence et affichage des ingrédients dans la compo */
.ingredient {
  margin: 1%;
  height:8vw;
  font-size:0.7em;
  background-color:rgb(247, 233, 213);
}

.ingredient img {
  width: 7vw !important;
  height: 5vw;
  object-fit: cover;
}

.ingredient span {
  font-family: var(--secondPolice);
  display: block;
  font-size: 0.9em;
  color: white;
  background-color: rgb(119, 163, 189);
}

.ingredient Button {
  border:none !important;
}

.cakeProgressLayout Button {
  position: relative;
  margin: -8px;
  left: 10px;
}

.cakeProgressLayout img {
  margin-top: -30%;
  margin-bottom: -30%;
}

.cakeLayout {
  width:100%;
  position: relative;
  margin-top: 3% !important;
  height: 48vh;
  background-color: rgba(219, 150, 150, 0.432);
  border-style: solid 20px;
  display: flex;
  flex-direction: column-reverse;
}

.toppingsCakeLayout {
  height: 10vh;
  background-color: rgb(246, 217, 222);
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.toppingsLayout {
  width: 50px;
}

.namesLayout {
  margin: 2% auto !important;
  height: 13vh;
  background-color: rgba(221, 205, 173, 0.452);
  border:2px dotted rgba(199, 185, 158, 0.452);
  overflow: auto;
  flex-direction: column-reverse;
  font-size: 0.7em;
}

.namesLayout p {
  font-family: var(--secondPolice);
  font-size: 1.1em;
  text-align:left;
}

/* <-------------------------------------------CakeInProgress.jsx.jsx------> */

.bloc-price {
  width: 100%;
  height:12vh;
  color: rgb(109, 76, 76);
  font-size: 0.9em;
  text-align: center;
  background-color: rgb(189, 130, 130);
  border-top:4px solid rgb(226, 158, 158);
  padding: 10%;
  margin: 3% auto;
  font-weight: 700;
  z-index: 1;
}

/* Le background de tous les boutons lors de la création */
.back-btn {
  background-color: rgb(218, 207, 180);
  border-top:4px solid rgb(230, 219, 190);
  bottom: 2vh;
  width: 51.5vw;
  height:12vh;
  padding: 2%;
  display: block;
  margin-left:-1.2vw;
  margin-top:1.5%;
  margin-bottom:2%;
}

/* Bouton de commande */
.order-btn {
  background-color: rgb(184, 137, 52);
  width: 20vh;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  border: none;
  padding: 14px;
  position: relative;
  margin: 1%;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
}

/* Groupe des deux boutons */
.btn-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Boutons Previous & Next */
.btn-prev-next {
  background-color:rgb(189, 130, 130);
  width: 20vh;
  display: inline-block;
  margin:10px;
  font-weight: 700;
  font-size: 0.8em;
  padding: 10px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-family: var(--secondPolice);
}

.btn-prev-next:hover {
  background-color: rgb(150, 104, 104) !important;
  transition: all 0.7s ease-out !important;
}

/* bouton conirmation de commande */

.btn-confirmation {
  background-color: rgb(168, 115, 115);
  display: inline;
  margin-right: 5px;
  font-weight: 700;
  font-size: 0.8em;
  padding: 15px;
  border: none;
  color: white;
  text-transform: uppercase;
}

.btn-confirmation:hover {
  background-color: rgb(209, 175, 143);
  transition: all 0.7s ease-out;
}

/* background boutons onglet UserInfo */
.back-btn-userinfo {
  background-color: rgb(218, 207, 180);
  border-top:4px solid rgb(230, 219, 190);
  bottom: 2vh;
  width: 100%;
  padding: 2%;
  display: block;
  margin-left:-1.2vw;
  margin-top:1% !important;
  margin-bottom:2%;
}

/* <---------------------------------------------- CustomizationStructure.jsx ----> */
/* Background des btn précédents & suivant sur la page custom */
.b-custom {
  background-color:rgb(218, 207, 180);
  border-top:10px solid rgb(235, 223, 194);
  padding-top:1%;
  padding-left:35%;
  padding-right:35%;
}

/* Titre accueil custom */
title-custom {
  width:100%;
  display: block;
  text-align: center;
  margin-top:1% !important;
  padding: 1%;
  background-color: rgb(235, 218, 188);
  font-size: 1.1em !important;
  font-weight: 700 !important;
  font-family: var(--secondPolice) !important;
  color: rgb(189, 130, 130);
  text-shadow:1px 1px 0px rgb(255, 237, 207);
  text-transform: lowercase;
  border-bottom: 4px solid rgb(223, 207, 177);

}

/* Sous-titre accueil Custom */
s-title-custom {
  font-family: var(--secondPolice);
  font-size: 1em;
  color:var(--mainColor);
}

/* Descri des actions/boutons dans Custom */
.descri-custom {
  font-family: var(--secondPolice);
  font-size: 0.8em;
  color:var(--mainColor);
  background-color:rgb(236, 230, 213);
  padding:1%;
}

.intro-custom {
  margin-top:-2%;
  margin-bottom:2%;
}

/* Corps des boutons */
.body-custom {
  background-color: rgb(236, 224, 206);
  border:2px dotted rgb(233, 217, 192);
  padding:1%;
  margin-bottom:1% !important;
}

/* <--------------------------------------- OrderDetail.jsx --------------> */
.bloc-monney-order {
  background-color: rgb(236, 224, 206);
  border:2px dotted rgb(233, 217, 192);
  padding:1%;
  font-size:0.7em !important;
}

.body-order {
  background-color: rgb(236, 224, 206);
  border:2px dotted rgb(233, 217, 192);
  padding:1%;
  font-size:0.8em !important;
} 


/* <--------------------------------------- UserInfo.jsx --------------> */

title-formu {
  background: rgb(219, 150, 150);
  text-shadow: 2px 2px 1px rgb(187, 128, 128);
  font-size: 1.5em;
  font-family: var(--mainPolice);
  color: white;
  padding: 10px;
  margin-top: 2%;
  margin-bottom:-3%;
  display: block;
  text-align: center;
  width:100%;
}

.row-formulaire {
  background-color: rgb(223, 213, 200);
}

s-txt-userinfo {
  font-size:0.6em;
  line-height:0.8em !important;
}



/* <--------------------------------------- PAGE CONTACT --------------> */
.row-contact {
  background-color:rgba(223, 212, 186, 0.322);
  padding:5%;
  font-family: var(--secondPolice);
  font-size:0.9em;
}

.the-map {
  border:4px solid rgba(194, 184, 163, 0.322);
  width:36.3vw !important;
  height:19.3vw !important;
  margin-top:2%;
  margin-left:-3%;
}

.img-staff {
  width:33vw;
  height:20vw;
  object-fit:cover;
  margin-bottom:5px;
  margin-top:3%;
  border:4px solid rgba(194, 184, 163, 0.322);
}

title-contact {
  font-size:1.7em;
  font-family: var(--mainPolice);
  display:block;
  width:100%;
  margin:auto;
  text-align:center;
  background-color:rgba(223, 212, 186, 0.527);
  padding:1%;
  color: rgba(143, 127, 78, 0.705);
  margin-bottom:3%;
}


/* <---------------------------------------------- PANNEAU D'ADMINISTRATION ----> */
/* <------------------------------------------- Ingredient-Table.jsx ----> */
.body-ingred-tb {
  background: rgb(233, 233, 233);
  margin: auto;
  padding: 2%;
  width: 100%;
}

.col-btn-tb {
  margin: 4px;
  font-size: 0.8em !important;
}

.body-tb {
  font-size: 1em;
}

.btn-ad-sup {
  font-size: 0.7em !important;
  margin: 2px;
}

/* <--------------------------------------- AddIngredients.jsx --------------> */
/* Bloc des boutons ANNULER et MODIFIER */
.row-modif-ing-btn {
  display: flex;
  justify-content: space-around;
}

.table-add-ingred td {
  display: flex;
}

.title-label-list {
  /* background-color:rgb(226, 226, 226); */
  border: none !important;
  font-size: 0.7em;
  text-align: center;
}

title-admin {
  color: white;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 0.7em !important;
  background-color: rgb(219, 151, 87);
  padding: 5px !important;
  margin-bottom: 1%;
  display: block;
  text-align: center;
}

.bodyIng {
  padding: 1%;
  width: 110%;
  margin: 1%;
  background-color: rgb(248, 248, 248) !important;
}

.col-size-checkbox {
  height: 25vh !important;
  overflow: auto;
  border: 1px solid rgb(235, 234, 234);
  margin: 4px;
  padding: 3px;
}

.ligne-titre {
  padding: 1%;
  width: 100% !important;
  margin: auto;
}

.btn-ajout {
  margin: 5px;
}

.td-ing-list {
  margin: 10px;
  font-size: 0.7em !important;
}

.body-admin {
  padding: 2%;
  height: 100%;
  width: 100%;
  margin: 0%;
  background-color: rgb(235, 235, 235);
}

.para-admin {
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.3em;
  padding: 2%;
}

.admin-home-logo {
  width: 30%;
  display: block;
  margin: auto;
}

/*APPARENCE CAROUSEL*/
