.body-zone {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(233, 230, 230);
  overflow:hidden;
}

.header-zone {
  background-color: #9C0045;
  width: 100vw;
  height: 10vh;
  font-family: 'Lobster Two', cursive;
  font-size:3em;
  color:white;
  text-align:center;
  text-shadow:3px 3px 0px rgb(114, 6, 55);
}

.content-zone {
  display: block;
  width: 90vw;
  height: 80vh;
  margin:1% auto;
  background-color: rgb(207, 207, 207);
}

.footer-zone {
  background-color: #9C0045;
  width: 100vw;
  height: 10vh;
}

.row{
  margin: 0 !important;
  justify-content: center;
}
