@import './CommonStyle.css';

.header-zone {
  position: fixed;
  background-color: #884e65;
  width: 100vw;
  height: 10vh;
  font-family: var(--mainPolice);
  font-size:3em;
  color:white;
  text-align:center;
}

.header-zone button{
  background-color: transparent;
  border: none;
  font-family: 'Arial', cursive;
  font-size:0.4em;
  color:black !important;
  text-decoration: none;
  text-align:center;
  position: absolute;
  right: 1vw;
  top: 3vh;
}

.content-zone {
  width: 80vw;
  height: 86vh;
  margin: 12vh auto;
}

.row{
  margin: 0 !important;
  justify-content: center;
}

h3 {
  margin:auto;
  padding:5px;
  font-size:1.8em !important;
  font-weight:700 !important;
  font-family: var(--mainPolice) !important;
  color: var(--mainColor) !important;
  /* text-shadow:1px 1px 0px rgb(255, 255, 255); */
  /* border-bottom:1px solid rgb(187, 187, 187); */
  display:flex;
  justify-content: center;
}

