.bodyZone {
  display: block;
  /* background-color: #EFEFEF; */
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(233, 230, 230);
}

.headerZone {
  background-color: #9C0045;
  width: 100vw;
  height: 10vh;
}

.contentZone {
  display: block;
  width: 90vw;
  height: 80vh;
  margin-left: 5vw;
  background-color: rgb(233, 230, 230);
}

.footerZone {
  background-color: #9C0045;
  width: 100vw;
  height: 10vh;
}

.row{
  margin: 0 !important;
  justify-content: center;
}